<% if comment.commenter != nil && comment.body != nil%>
    <div class="comment-sec">
        <%= comment.commenter %>
        <br/>
        <%= comment.body %>
        <br/>
        <div class="comment_datetime">
            <%= comment.updated_at.to_time.strftime('%B %e at %l:%M %p') %>
        </div>
        <br/>
        <div class="comment_actions">
            <%= link_to 'Edit', [comment.article, comment]%> |
            <%= link_to 'Delete', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' }%>
        </div>
    </div>
    <hr>
<% end %>