<div class="container-fluid">
    <h1 class="mt-4"></h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">Dashboard</li>
        <li class="breadcrumb-item active">Articles</li>
    </ol>
    <div class="row">
        <div class="col-6">
            <% @articles.each do |article| %>
            <div class="articles">
                <div class="article_title">
                    <strong class="title"> <%= article.title %> </strong> - <%= article.user.fname %>
                </div>
                <div class="article_content">
                    <span><%= truncate article.context, length: 50 %></span>
                    <br/>
                    <span><% if article.context.length >= 50 %> <%= link_to 'read more', article %> <% end %></span>
                </div>
                <div class="article_datetime">
                    <span> <%= article.updated_at.to_time.strftime('%B %e at %l:%M %p') %> </span>
                </div>
                <br/>
                <hr>
                <div class="article_actions inline">
                    <% if current_user.admin == 1 && current_user.id == article.user_id %>
                        <%= link_to 'View', article_path(article) %> | <%= link_to 'Edit', edit_article_path(article) %> | <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% elsif current_user.admin == 1 && current_user.id != article.user_id %>
                        <%= link_to 'View', article_path(article) %> | <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% elsif current_user.admin != 1 && article.user_id == current_user.id %>
                        <%= link_to 'View', article_path(article) %> | <%= link_to 'Edit', edit_article_path(article) %>
                    <%else%>
                        <%= link_to 'View', article_path(article) %>
                    <%end%>
                </div>
            </div>
            <br/>
            <% end %>
            <div class="page_info">
                <%= page_entries_info @articles %>
            </div>
            <div class="pagination">
                <%= will_paginate @articles, :container => false %>
            </div>
        </div>
        <div class="col-6">
            <div class="article_add">
                <h5 class="courier">ADD ARTICLE</h5>
                <hr>
                <%= render 'form' %>
            </div>
        </div>
    </div>
</div>

<script>
$(".article").addClass("active");
</script>