<% if logged_in? %>
<div class="container-fluid">
    <h1 class="mt-4"></h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">Dashboard</li>
        <li class="breadcrumb-item">Articles</li>
        <li class="breadcrumb-item active">Article #<%= @article.id %></li>
    </ol>

    <div class="col-12 text-right">
        <%= link_to 'Edit Article', edit_article_path(@article), class: 'btn btn-success btn-sm' %>
        <%= link_to 'Back to list', articles_path, class: 'btn btn-danger btn-sm' %>
    </div>
    <div class="article">
        <h5>
            <strong>Title:</strong>
            <span><%= @article.title %></span>
        </h5>
        <strong>Text:</strong>
        <%= @article.context %>
    </div>
    <hr>
    <div class="row">
        <div class="col-6 add_a_comment">
            <div class="card">
                <div class="card-header">
                    <h5>Add a comment</h5>
                </div>
                <div class="card-body">
                    <%= render 'comments/form' %>
                </div>
            </div>
        </div>
        <div class="col-6 comments">
            <div class="card">
                <div class="card-header">
                    <h5>Comments</h5>
                </div>
                <div class="card-body">
                    <%= render @article.comments %>
                </div>
            </div>
        </div>
    </div>
</div>
<%end%>