<% if logged_in? %>
<div class="container-fluid">
    <h1 class="mt-4"></h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">Dashboard</li>
        <li class="breadcrumb-item"><%= link_to 'Articles', articles_path %></li>
        <li class="breadcrumb-item active">Article #<%= @article.id %></li>
    </ol>

    <div class="col-12 text-right">
        <%#= link_to 'Edit Article', edit_article_path(@article), class: 'btn btn-success btn-sm' %>
    </div>
    <div class="article">
        <h5>
            <strong>Title:</strong>
            <span><%= @article.title %></span>
        </h5>
        <strong>Text:</strong>
        <%= @article.context %>
    </div>
    <%# <hr> %>
    <div class="row mt-3">
        <div class="col-6 add_a_comment">
            <div class="card">
                <div class="card-header">
                    <span>Leave a comment as <%= current_user.fname %></span>
                </div>
                <div class="card-body">
                    <%= render 'comments/form' %>
                </div>
            </div>
        </div>
        <div class="col-6 comments">
            <div class="card">
                <div class="card-header">
                    <h5 class="courier">COMMENTS</h5>
                </div>
                <div class="card-body">
                    <%= render @article.comments %>
                </div>
            </div>
        </div>
    </div>
</div>
<%end%>