<!DOCTYPE html>
<html lang="en">
    <head>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <title>BLOG</title>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body class="sb-nav-fixed">
        <% if logged_in? %>
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <%= image_tag("blog.png", :alt => "BLOG") %>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fa fa-bars"></i></button>
            <div class="navbar-nav logout ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <%= link_to fa_icon("sign-out",text:"Log out"), sessions_path, method: "delete" %>
            </div>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Dashboard</div>
                            <%= link_to fa_icon("home",text:"Home"), welcome_path, class: 'nav-link home'%>                            
                            <%= link_to fa_icon("book",text:"Articles"), articles_path, class: 'nav-link article'%>                            
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        <%= current_user.fname ? current_user.fname : current_user.username %>
                    </div>
                </nav>
            </div>
            <% end %>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <%= yield %>
                    </div>
                </main>
            </div>
        </div>
    </body>
    <script>
        $("#sidebarToggle").on("click", function(e) {
            e.preventDefault();
            $("body").toggleClass("sb-sidenav-toggled");
        });
    </script>
</html>